<div class="container">
  <% @articles.each do |article| %>
    <div class="mb-4 p-4">
      <h1>
        <%= article.title %>
      </h1>
      <p>
        <%= article.content %>
      </p>
    </div>
  <% end %>
</div>

